In [3]:
# import des differents modules
import numpy as np
import sklearn as svm
import seaborn as sns
import missingno
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.pyplot import plot
from matplotlib.pyplot import axis
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [4]:
df = pd.read_csv('immo.csv')
pd.options.display.max_columns = 40

In [5]:
df.shape
df.head()

,id,date,prix,chambres,salle_de_bains,habitable,parcelle,etages,vue_mer,cave,condition,grade,sur_rdc,sur_cave,annee_cons,annee_renov,code_postal,lat,long,sur_habitable15,sur_parcelle15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [6]:
df.describe()

,id,prix,chambres,salle_de_bains,habitable,parcelle,etages,vue_mer,cave,condition,grade,sur_rdc,sur_cave,annee_cons,annee_renov,code_postal,lat,long,sur_habitable15,sur_parcelle15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [9]:
df.groupby(['prix', 'salle_de_bains', 'habitable', 'parcelle', 'etages', 'cave', 'annee_cons', 'annee_renov', 'code_postal', 'sur_habitable15', 'sur_parcelle15']).min()

,,,,,,,,,,,id,date,chambres,vue_mer,condition,grade,sur_rdc,sur_cave,lat,long
prix,salle_de_bains,habitable,parcelle,etages,cave,annee_cons,annee_renov,code_postal,sur_habitable15,sur_parcelle15,,,,,,,,,,
75000.0,0.00,670,43377,1.0,0,1966,0,98022,1160,42882,3421079032,20150217T000000,1,0,3,3,670,0,47.2638,-121.906
78000.0,1.00,780,16344,1.0,0,1942,0,98168,1700,10387,40000362,20140506T000000,2,0,1,5,780,0,47.4739,-122.280
80000.0,0.75,430,5050,1.0,0,1912,0,98014,1200,7500,8658300340,20140523T000000,1,0,2,4,430,0,47.6499,-121.909
81000.0,1.00,730,9975,1.0,0,1943,0,98168,860,9000,3028200080,20150324T000000,2,0,1,5,730,0,47.4808,-122.315
82000.0,1.00,860,10426,1.0,0,1954,0,98146,1140,11250,3883800011,20141105T000000,3,0,3,6,860,0,47.4987,-122.341
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5350000.0,5.00,8000,23985,2.0,4,2009,0,98004,4600,21750,8907500070,20150413T000000,5,0,3,12,6720,1280,47.6232,-122.220
5570000.0,5.75,9200,35069,2.0,0,2001,0,98039,3560,24345,2470100110,20140804T000000,5,0,3,13,6200,3000,47.6289,-122.233
6885000.0,7.75,9890,31374,2.0,4,2001,0,98039,4540,42730,9208900037,20140919T000000,6,0,3,13,8860,1030,47.6305,-122.240
7062500.0,4.50,10040,37325,2.0,2,1940,2001,98004,3930,25449,9808700762,20140611T000000,5,1,3,11,7680,2360,47.6500,-122.214
7700000.0,8.00,12050,27600,2.5,3,1910,1987,98102,3940,8800,6762700020,20141013T000000,6,0,4,13,8570,3480,47.6298,-122.323

In [10]:
df.groupby(['id']).describe()

TypeError: You have to supply one of 'by' and 'level'